Repository infenia/tinel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @infenia/tinel-maintainers, @infenia/tinel-security-team, @infenia/tinel-core-team, @infenia/tinel-hardware-team, @infenia/tinel-devops-team

.github/CODEOWNERS:

# Global code owners
* @infenia/tinel-maintainers

# Security-sensitive files
/.github/ @infenia/tinel-security-team
/SECURITY.md @infenia/tinel-security-team
/.github/workflows/security.yml @infenia/tinel-security-team

# Core system components
/tinel/interfaces.py @infenia/tinel-core-team
/tinel/system.py @infenia/tinel-core-team

# Hardware analysis modules
/tinel/hardware/ @infenia/tinel-hardware-team

# CI/CD and build configuration
/.github/workflows/ @infenia/tinel-devops-team
/noxfile.py @infenia/tinel-devops-team
/pyproject.toml @infenia/tinel-devops-team

feat: Implement comprehensive hardware analysis tools
  .coveragerc
  .vscode/settings.json
  README.md
  noxfile.py
  pyproject.toml
  scripts/dev_tasks.sh
  scripts/generate_coverage_report.py
  scripts/setup_dev_env.sh
  scripts/setup_uv_env.sh
  tests/__init__.py
  tests/cli/test_main.py
  tinel/__init__.py
  tinel/__main__.py
  tinel/cli/__init__.py
  tinel/cli/commands/__init__.py
  tinel/cli/commands/base.py
  tinel/cli/commands/hardware.py
  tinel/cli/commands/router.py
  tinel/cli/config.py
  tinel/cli/error_handler.py
  tinel/cli/formatters.py
  tinel/cli/main.py
  tinel/cli/parser.py
  tinel/hardware/__init__.py
  tinel/hardware/cpu_analyzer.py
  tinel/hardware/device_analyzer.py
  tinel/interfaces.py
  tinel/system.py
  tinel/tools/__init__.py
  tinel/tools/base.py
  tinel/tools/hardware_tools.py
Owners: @infenia/tinel-maintainers, @infenia/tinel-devops-team, @infenia/tinel-hardware-team, @infenia/tinel-core-team

Add unit tests for output formatters, system interface, and utility functions
  CLAUDE.md
  pytest.ini
  tests/Makefile
  tests/README.md
  tests/cli/test_main.py
  tests/conftest.py
  tests/integration/test_hardware_integration.py
  tests/performance/test_performance.py
  tests/security/test_security.py
  tests/test_runner.py
  tests/unit/test_cli_commands_router.py
  tests/unit/test_cli_config.py
  tests/unit/test_cli_error_handler.py
  tests/unit/test_cli_main.py
  tests/unit/test_cli_parser.py
  tests/unit/test_cpu_analyzer.py
  tests/unit/test_formatters.py
  tests/unit/test_system.py
  tests/utils.py
  tinel/__init__.py
  tinel/cli/commands/hardware.py
  tinel/cli/commands/router.py
  tinel/cli/error_handler.py
  tinel/cli/main.py
  tinel/hardware/__init__.py
  tinel/hardware/cpu_analyzer.py
  tinel/hardware/device_analyzer.py
  tinel/interfaces.py
  tinel/system.py
  tinel/tools/hardware_tools.py
Owners: @infenia/tinel-maintainers, @infenia/tinel-hardware-team, @infenia/tinel-core-team

Add unit tests for various error classes in CLI error handler
  tests/unit/test_cli_error_handler.py
Owners: @infenia/tinel-maintainers

Add unit tests for CLI argument parser, CPU analyzer, and hardware tools
  pyproject.toml
  tests/unit/cli/commands/test_router.py
  tests/unit/cli/test_config.py
  tests/unit/cli/test_error_handler.py
  tests/unit/cli/test_formatters.py
  tests/unit/cli/test_main.py
  tests/unit/cli/test_parser.py
  tests/unit/hardware/test_cpu_analyzer.py
  tests/unit/test_formatters.py
  tests/unit/tools/test_hardware_tools.py
  tinel/cli/error_handler.py
  tinel/cli/parser.py
  tinel/tools/hardware_tools.py
Owners: @infenia/tinel-devops-team, @infenia/tinel-maintainers

Refactor: Clean up whitespace and formatting across multiple files
  tests/conftest.py
  tests/integration/test_hardware_integration.py
  tests/performance/test_performance.py
  tests/security/test_security.py
  tests/test_runner.py
  tests/unit/cli/commands/test_router.py
  tests/unit/cli/test_config.py
  tests/unit/cli/test_error_handler.py
  tests/unit/cli/test_main.py
  tests/unit/cli/test_parser.py
  tests/unit/hardware/test_cpu_analyzer.py
  tests/unit/test_system.py
  tests/unit/tools/test_hardware_tools.py
  tests/utils.py
  tinel/__main__.py
  tinel/cli/__init__.py
  tinel/cli/commands/__init__.py
  tinel/cli/commands/base.py
  tinel/cli/commands/hardware.py
  tinel/cli/commands/router.py
  tinel/cli/config.py
  tinel/cli/error_handler.py
  tinel/cli/formatters.py
  tinel/cli/main.py
  tinel/cli/parser.py
  tinel/hardware/__init__.py
  tinel/hardware/cpu_analyzer.py
  tinel/hardware/device_analyzer.py
  tinel/interfaces.py
  tinel/system.py
  tinel/tools/__init__.py
  tinel/tools/base.py
Owners: @infenia/tinel-maintainers, @infenia/tinel-hardware-team, @infenia/tinel-core-team
